[report]
exclude_lines =
    pragma: no cover
    def __repr__
    if self.debug:
    if settings.DEBUG
    raise AssertionError
    raise NotImplementedError
    if 0:
    if __name__ == .__main__.:
    class .*\bProtocol\):
    @(abc\.)?abstractmethod

[run]
omit =
    # omit anything in .local, env, htmlcov directory anywhere
    */.local/*
    */env/*
    */htmlcov/*
    # omit some files in /dynamic_settings
    dynamic_settings/urls.py
    dynamic_settings/settings.py
    # omit manage.py file
    manage.py