<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dynamic Settings Variable</title>
    <!-- CSS only -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <script
      src="https://kit.fontawesome.com/90f19d2d7f.js"
      crossorigin="anonymous"
    ></script>
    <style>
      :root {
        --border-color: #e3e5e4;
        --text-color: #34444f;
        --background-color: #c3c7ca;
      }
      .justify-items {
        background-color: #fff;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
      }
      .draggable-list {
        border: 1px solid var(--border-color);
        color: var(--text-color);
        padding: 0;
        margin: 0;
        list-style-type: none;
      }
      .draggable-list li {
        background-color: #fff;
        display: flex;
        flex: 1;
      }
      .draggable-list li:not(:last-of-type) {
        border-bottom: 1px solid var(--border-color);
      }
      .draggable-list .number {
        background-color: var(--background-color);
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.5rem;
        height: 2.5rem;
        width: 2.5rem;
      }
      .draggable-list .provider-name {
        margin: 0 1.25rem 00;
      }
      .draggable {
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0.5rem;
        flex: 1;
      }
      .draggable-list li.over {
        background-color: #eaeaea;
      }
      .draggable-list li.start .draggable {
        background-color: #fffdd0;
      }
    </style>
  </head>
  <body>
    <div class="content">
      <div class="row justify-content-center mt-5">
        <div class="col-md-5 grid-margin stretch-card">
          <div class="card">
            <div class="card-header">Current Priority of VPN Providers</div>
            <div class="card-body">
              <div
                class="btn-group-vertical d-flex"
                role="group"
                aria-label="Default VPN Provider priority"
              >
                {% for p in generic_settings.default_vpn_provider %}
                <div class="input-group">
                  <div class="input-group-prepend">
                    <div class="input-group-text">{{forloop.counter}}</div>
                  </div>
                  <button
                    type="button"
                    class="btn-outline-{% if forloop.first %}success{% else %}primary{% endif %} btn w-75"
                    disabled
                  >
                    {{p}}
                  </button>
                </div>

                {% endfor %}
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-5 grid-margin stretch-card">
          <div class="card">
            <div class="card-header">Current Priority of Email addresses</div>
            <div class="card-body">
              <div
                class="btn-group d-flex flex-wrap"
                role="group"
                aria-label="Default Email priority"
              >
                {% for p in generic_settings.default_from_email %}
                <button
                  type="button"
                  class="btn btn-outline-{% if forloop.first %}success{% else %}primary{% endif %}"
                  disabled
                >
                  {{p}}
                </button>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row justify-content-center mt-4">
        {% csrf_token %}
        <div class="col-md-5 grid-margin stretch-card">
          <div class="card">
            <div class="card-header">
              <h4>Change VPN Provider</h4>
            </div>
            <div class="card-body">
              <div class="justify-items">
                <ul class="col-md-10 mb-3 draggable-list" id="draggableListOne">
                  {% for provider in generic_settings.default_vpn_provider %}
                  <li data-index="{{forloop.counter0}}">
                    <span class="number">{{forloop.counter}}</span>
                    <div class="draggable" draggable="true">
                      <p class="provider-name">{{provider}}</p>
                      <i class="fas fa-grip-lines"></i>
                    </div>
                  </li>
                  {% endfor %}
                </ul>
                <button type="button" class="btn btn-success" id="saveVPNOrder">
                  Save VPN Order
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-5 grid-margin stretch-card">
          <div class="card">
            <div class="card-header">
              <h4>Change Email Provider order</h4>
            </div>
            <div class="card-body">
              <div class="justify-items">
                <ul class="col-md-10 mb-3 draggable-list" id="draggableListTwo">
                  {% for provider in generic_settings.default_from_email %}
                  <li data-index="{{forloop.counter0}}">
                    <span class="number">{{forloop.counter}}</span>
                    <div class="draggable" draggable="true">
                      <p class="provider-name">{{provider}}</p>
                      <i class="fas fa-grip-lines"></i>
                    </div>
                  </li>
                  {% endfor %}
                </ul>
                <button
                  type="button"
                  class="btn btn-success"
                  id="saveEmailOrder"
                >
                  Save Email Order
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <!-- JavaScript Bundle with Popper -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"
    ></script>

    <script>
      'use strict';
      const csrftoken = $('[name=csrfmiddlewaretoken]').val();
      if (csrftoken) {
        function csrfSafeMethod(method) {
          // these HTTP methods do not require CSRF protection
          return /^(GET|HEAD|OPTIONS|TRACE)$/.test(method);
        }
        $.ajaxSetup({
          beforeSend: function (xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
              xhr.setRequestHeader('X-CSRFToken', csrftoken);
            }
          },
        });
      }

      const swapItems = (fromIndex, toIndex, listItems) => {
        const firstItem = listItems[fromIndex].querySelector('.draggable');
        const secondItem = listItems[toIndex].querySelector('.draggable');

        listItems[fromIndex].appendChild(secondItem);
        listItems[toIndex].appendChild(firstItem);
      };

      const addDragAndDropEventListeners = (
        listItemsToDragSelector,
        listItems
      ) => {
        const listItemsToDrag = document.querySelectorAll(
          listItemsToDragSelector
        );

        const draggables = document.querySelectorAll(
          `${listItemsToDragSelector} .draggable`
        );

        let dragStartIndex = 0;
        draggables.forEach((draggable) => {
          draggable.addEventListener('dragstart', (event) => {
            event.currentTarget.classList.add('start');
            dragStartIndex = +event.currentTarget
              .closest('li')
              .getAttribute('data-index');
          });
        });
        listItemsToDrag.forEach((item) => {
          listItems.push(item);
          item.addEventListener('dragover', (event) => {
            event.preventDefault();
            event.currentTarget.classList.add('over');
          });
          item.addEventListener('drop', (event) => {
            const dragEndIndex = event.currentTarget.getAttribute('data-index');
            swapItems(dragStartIndex, dragEndIndex, listItems);
            event.currentTarget.classList.remove('over');
            event.currentTarget.classList.remove('start');
          });
          item.addEventListener('dragenter', (event) => {
            event.currentTarget.classList.add('over');
          });
          item.addEventListener('dragleave', (event) => {
            event.currentTarget.classList.remove('over');
            event.currentTarget.classList.remove('start');
          });
        });
      };

      const changeProvidersPriority = (
        providerModelField,
        providerModelFieldValue,
        providerType,
        providerTypeText
      ) => {
        if (
          !confirm(
            `Are you sure you want to change ${providerTypeText} Providers priority?`
          )
        ) {
          return;
        }
        const data = new FormData();
        data.append(providerModelField, providerModelFieldValue);
        data.append('provider_type', providerType);
        $.ajax({
          url: "{% url 'core:change_settings' %}",
          method: 'POST',
          data: data,
          dataType: 'json',
          success: function (response) {
            if (response.success) {
              alert(
                `${providerTypeText} Providers priority changed successfully.`
              );
              window.location.href = location.href;
            }
          },
          error: function (error) {
            console.error(error);
          },
          cache: false,
          processData: false,
          contentType: false,
        });
      };

      const saveEmailOrderBtn = document.getElementById('saveEmailOrder');
      const saveVPNOrderBtn = document.getElementById('saveVPNOrder');
      const firstListItems = [];
      const secondListItems = [];
      const firstReorderedListItems = [];
      const secondReorderedListItems = [];

      addDragAndDropEventListeners('#draggableListOne li', firstListItems);
      addDragAndDropEventListeners('#draggableListTwo li', secondListItems);

      saveVPNOrderBtn.addEventListener('click', (event) => {
        event.preventDefault();
        firstListItems.forEach((item) => {
          firstReorderedListItems.push(
            item.querySelector('.draggable').innerText.trim()
          );
        });
        changeProvidersPriority(
          'default_vpn_provider',
          JSON.stringify(firstReorderedListItems),
          'VPN',
          'VPN'
        );
      });

      saveEmailOrderBtn.addEventListener('click', (event) => {
        event.preventDefault();
        secondListItems.forEach((item) => {
          secondReorderedListItems.push(
            item.querySelector('.draggable').innerText.trim()
          );
        });
        changeProvidersPriority(
          'default_from_email',
          JSON.stringify(secondReorderedListItems),
          'Email',
          'Email address'
        );
      });
    </script>
  </body>
</html>
